:root {
    --black: #222222;
    --light-pink: #F1E4E6;
    --pink: #F16D7F;
    --grey: #9F9F9F;
}

.page {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background-color: var(--black);
}

.header__nav {
    display: none;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 31px;
}

.header__menu-btn {
    border: none;
    background-color: transparent;
}

.brand {
    display: flex;
}

.brand__img {
    background: rgba(113, 103, 105, 0.08);
}

.brand__wrp {
    background-color: var(--light-pink);
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
}

.brand__title {
    text-transform: uppercase;
}

.brand__title-one-letter {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    display: block;
}

.brand__subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.brand__subtitle-pink {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    color: var(--pink);
}

.sales__list {
    display: flex;
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    height: 260px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sales__item-man {
    background-image: url(../img/siles_item_man.jpg);
    margin: 63px 30px 30px 0;
}

.sales__item-woman {
    background-image: url(../img/siles_item_woman.jpg);
    margin: 63px 30px 30px 0;
}

.sales__item-kids {
    background-image: url(../img/siles_item_kids.jpg);
    margin: 63px 0 30px 0;
}

.sales__item-accessories {
    width: 1140px;
    height: 180px;
    background-image: url(../img/siles_item_accessories.jpg);
    margin-bottom: 97px;
}

.sales__item-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: #fff;
}

.sales__item-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: var(--pink);
    text-transform: uppercase;
}

.featured__items-header {
    font-size: 30px;
    line-height: 36px;
    color: var(--black);
    font-weight: normal;
    text-align: center;
}

.featured__items-text {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--grey);
    margin-bottom: 48px;
}

.featured__items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured__items-item {
    width: 360px;
    background: #F8F8F8;
    margin-bottom: 30px;
}

.featured__items-img {
    margin-bottom: 24px;
}

.featured__items-title {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    margin: 0 0 12px 18px;
}

.featured__items-desc {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin: 0 28px 18px 16px;
}

.featured__items-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--pink);
    margin: 0 0 20px 18px;
}