/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page {
  font-family: "Lato", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.product {
  margin-bottom: 98px;
}

@media (max-width: 1139px) {
  .container {
    width: 96%;
  }
}
@media (max-width: 767px) {
  .container {
    width: 91%;
  }
}
.header {
  background-color: #222222;
}
.header__wrp-controls {
  display: flex;
}
.header__form {
  position: relative;
}
.header__form:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  background: #222222;
  top: 3px;
  left: -45px;
  background-image: url(../img/loupe.svg);
  background-size: 30px 30px;
}
.header__form-search {
  padding: 10px 20px;
  border: none;
  outline: 1px solid #fff;
  background-color: #222222;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}
.header__form-search:hover {
  outline: 1px solid #F16D7F;
}
.header__form-search:active {
  outline: 1px solid #F1E4E6;
}
.header__form-search:focus {
  outline: 2px solid #fff;
}
.header__wrp {
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
  position: relative;
}
.header__logo {
  margin: 0 80px 0 0;
}
@media (max-width: 767px) {
  .header__logo {
    margin: 0 61px 0 0;
  }
}
.header__link {
  margin: 0 0 0 31px;
}
@media (max-width: 767px) {
  .header__link {
    display: none;
  }
}
.header__menu-btn {
  border: none;
  background-color: transparent;
}
.header__btn-burger, .header__link-person, .header__link-basket {
  fill: #E8E8E8;
}
.header__btn-burger:hover, .header__link-person:hover, .header__link-basket:hover {
  fill: #F1E4E6;
}
.header__btn-burger:active, .header__link-person:active, .header__link-basket:active {
  fill: #F16D7F;
}
.header__btn-burger:focus, .header__link-person:focus, .header__link-basket:focus {
  fill: #9F9F9F;
  border: none;
  outline: none;
}
.header__nav {
  position: absolute;
  background-color: #fff;
  right: 0;
  bottom: -765px;
  display: none;
  z-index: 2;
  width: 170px;
  height: 765px;
  padding-left: 50px;
}
.header__nav--show {
  display: block;
}
.header__nav-title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  padding: 37px 0 4px 0;
}

.menu-item__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
  padding: 20px 0 12px 0;
}
.menu-item__sub-item {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  padding: 11px 0 0 20px;
}
.menu-item__sub-item a {
  text-decoration-color: #fff;
  color: #6F6E6E;
}
.menu-item__sub-item a:hover {
  color: #9F9F9F;
}
.menu-item__sub-item a:active {
  color: #F16D7F;
}
.menu-item__sub-item a:focus {
  text-decoration-color: #6F6E6E;
}

.brand {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .brand {
    background-color: #F1E4E6;
  }
}
.brand__block-opacity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.brand__img {
  background: rgba(113, 103, 105, 0.08);
  width: 50%;
}
@media (max-width: 1139px) {
  .brand__img {
    width: 50%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
}
.brand__wrp {
  background-color: #F1E4E6;
  box-sizing: border-box;
  width: 50%;
  flex-grow: 1;
  padding: 0 0 0 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1139px) {
  .brand__wrp {
    padding: 0 0 0 68px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .brand__wrp {
    min-height: 363px;
    padding: 0 0 0 83px;
  }
}
.brand__title {
  text-transform: uppercase;
  position: relative;
}
.brand__title::before {
  height: 92px;
  width: 12px;
  background-color: #F16D7F;
  content: "";
  position: absolute;
  left: -30px;
  top: 5px;
}
@media (max-width: 1139px) {
  .brand__title::before {
    top: 0;
  }
}
@media (max-width: 767px) {
  .brand__title::before {
    height: 61px;
    top: 5px;
  }
}
.brand__title-one-letter {
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  display: block;
}
@media (max-width: 1139px) {
  .brand__title-one-letter {
    font-size: 44px;
    line-height: 53px;
    font-weight: 900;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .brand__title-one-letter {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    font-style: normal;
  }
}
.brand__subtitle {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}
@media (max-width: 1139px) {
  .brand__subtitle {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}
.brand__subtitle-pink {
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
}
@media (max-width: 1139px) {
  .brand__subtitle-pink {
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}
@media (max-width: 767px) {
  .brand__subtitle-pink {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}
.brand__wrp--show {
  opacity: 0.3;
}

/*# sourceMappingURL=brand.css.map */
.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.sales__item {
  width: 31%;
  min-height: 260px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1139px) {
  .sales__item {
    min-height: 168px;
  }
}
@media (max-width: 767px) {
  .sales__item {
    width: 100%;
    min-height: 247px;
  }
}
.sales__item-man {
  background-image: url(../img/siles_item_man.jpg);
  margin: 63px 30px 30px 0;
}
@media (max-width: 1139px) {
  .sales__item-man {
    margin: 19px 20px 20px 0;
    background-position: right;
  }
}
@media (max-width: 767px) {
  .sales__item-man {
    margin: 64px 16px 32px 16px;
    background-position: center;
  }
}
.sales__item-woman {
  background-image: url(../img/siles_item_woman.jpg);
  margin: 63px 30px 30px 0;
}
@media (max-width: 1139px) {
  .sales__item-woman {
    margin: 19px 20px 20px 0;
    background-position: center;
  }
}
@media (max-width: 767px) {
  .sales__item-woman {
    margin: 0 16px 32px 16px;
    background-position: center;
  }
}
.sales__item-kids {
  background-image: url(../img/siles_item_kids.jpg);
  margin: 63px 0 30px 0;
}
@media (max-width: 1139px) {
  .sales__item-kids {
    margin: 19px 0 20px 0;
    background-position: left;
  }
}
@media (max-width: 767px) {
  .sales__item-kids {
    margin: 0 16px 32px 16px;
    background-position: center;
  }
}
.sales__item-accessories {
  width: 100%;
  min-height: 180px;
  background-image: url(../img/siles_item_accessories.jpg);
  margin-bottom: 97px;
}
@media (max-width: 1139px) {
  .sales__item-accessories {
    min-height: 116px;
    margin-bottom: 188px;
    background-position: center;
  }
}
@media (max-width: 767px) {
  .sales__item-accessories {
    min-height: 111px;
    margin: 0 16px 64px 16px;
  }
}
.sales__item-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: #fff;
}
.sales__item-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
  color: #F16D7F;
  text-transform: uppercase;
}

.featured__items-header {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
  color: #222222;
  text-align: center;
}
.featured__items-text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #9F9F9F;
  margin-bottom: 48px;
}
@media (max-width: 1139px) {
  .featured__items-text {
    margin-bottom: 74px;
  }
}
.featured__items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1139px) {
  .featured__items-list {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 1122px) {
  .featured__items-list {
    justify-content: space-around;
  }
}
.featured__items-item {
  width: 360px;
  background: #F8F8F8;
  margin-bottom: 30px;
}
.featured__items-img {
  margin-bottom: 24px;
}
.featured__items-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
}
.featured__items-wrapper {
  position: relative;
}
.featured__cart_button {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 13px 50px;
  border: 1px solid #fff;
  background-color: transparent;
}
.featured__cart_button::before {
  background-image: url(../img/basket_btn.svg);
  content: "";
  width: 26px;
  height: 24px;
  color: #fff;
  position: absolute;
  left: 13px;
  top: 11px;
}
.featured__items-overlay, .featured__cart_button {
  display: none;
}
.featured__items-item:hover .featured__cart_button, .featured__items-item:hover .featured__items-overlay {
  display: block;
}
.featured__cart_button:active {
  color: #F16D7F;
  border: 1px solid #F16D7F;
}
.featured__items-title {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
  text-transform: uppercase;
  margin: 0 0 12px 18px;
}
.featured__items-desc {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  margin: 0 28px 18px 16px;
}
.featured__items-price {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  margin: 0 0 20px 18px;
}
.featured__items-btn {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  padding: 14px 38px;
  margin: 18px 0 95px 0;
  background-color: #fff;
}
.featured__items-btn:hover {
  background-color: #F16D7F;
  color: #fff;
}
.featured__items-btn:active {
  opacity: 0.5;
}
.featured__items-btn:focus {
  border: 1px solid #9F9F9F;
}
.featured__items-wrp {
  display: flex;
  justify-content: center;
}
.featured__items-wrp-btn {
  color: #F16D7F;
  border: 1px solid #F16D7F;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  padding: 14px 38px;
  margin: 18px 0 95px 0;
  background-color: #fff;
  text-decoration: none;
}
.featured__items-wrp-btn:hover {
  background-color: #F16D7F;
  color: #fff;
}
.featured__items-wrp-btn:active {
  opacity: 0.5;
}
.featured__items-wrp-btn:focus {
  background-color: #F1E4E6;
}

.info {
  background: #222224;
}
.info__list {
  display: flex;
  justify-content: center;
}
@media (max-width: 1139px) {
  .info__list {
    flex-direction: column;
    align-items: center;
    padding: 24px 0 40px 0;
  }
}
.info__item {
  text-align: center;
  padding: 103px 0px 103px 0;
}
@media (max-width: 1139px) {
  .info__item {
    padding: 24px 0px 24px 0;
  }
}
.info__item-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
  text-align: center;
  margin: 28px 0 16px 0;
}
.info__item-title_middle {
  margin: 19px 0 16px 0;
}
.info__item-title_quality {
  margin: 25px 0 16px 0;
}
.info__item-text {
  width: 360px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #FBFBFB;
  padding: 0 25px;
  box-sizing: border-box;
}

.footer__subscribe {
  max-width: 1600px;
  background-image: url(../img/subscribe.jpg);
  height: 448px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
@media (max-width: 1139px) {
  .footer__subscribe {
    height: 614px;
    background-size: cover;
  }
}
.footer__subscribe-box {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 1139px) {
  .footer__subscribe-box {
    flex-direction: column;
    align-items: center;
  }
}
.footer__subscribe-comment {
  text-align: center;
  padding: 86px 0 126px 0;
}
@media (max-width: 1139px) {
  .footer__subscribe-comment {
    padding: 53px 0 48px 0;
  }
}
.footer__subscribe-text {
  width: 360px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #222224;
  margin-top: 40px;
}
.footer__letter_subscribe {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  font-style: normal;
  display: block;
}
.footer__subscribe-sendform {
  margin-top: 150px;
}
@media (max-width: 1139px) {
  .footer__subscribe-sendform {
    margin: 0 0 140px 0;
  }
}
.footer__subscribe-sendform-text {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.footer__subscribe-text-italic {
  font-style: italic;
}
.footer__subscribe-form {
  display: flex;
}
.footer__subscribe-input {
  height: 49px;
  width: 256px;
  padding-left: 20px;
  background: #E1E1E1;
  border: none;
  border-radius: 20px 0 0 20px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  color: #222224;
  opacity: 0.67;
}
.footer__subscribe-input:focus {
  outline: 2px solid #9F9F9F;
}
.footer__subscribe-input:hover {
  outline: 1px solid #222222;
}
.footer__subscribe-btn {
  background: #E05C6E;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
  border: none;
  border-radius: 0 20px 20px 0;
  height: 49px;
  width: 100px;
}
.footer__subscribe-btn:focus {
  outline: 2px solid #9F9F9F;
}
.footer__subscribe-btn:hover {
  outline: 1px solid #222222;
}
.footer__subscribe-btn:active {
  opacity: 0.5;
}
.footer__endline {
  height: 79px;
  background-color: #222224;
}
@media (max-width: 767px) {
  .footer__endline {
    display: flex;
    align-items: center;
    height: 143px;
  }
}
.footer__endline-box {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer__endline-box {
    flex-direction: column-reverse;
    align-items: center;
  }
}
.footer__endline-list {
  display: flex;
}
.footer__endline-text {
  margin-top: 30px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #FBFBFB;
}
.footer__endline-item {
  width: 32px;
  height: 32px;
  background-color: #fff;
  margin: 24px 7px 0 0;
  position: relative;
  display: inline-block;
}
.footer__endline-item:hover {
  background-color: #F16D7F;
}
.footer__endline-item:focus-within {
  background-color: #9F9F9F;
}
.footer__endline-item:active {
  opacity: 0.5;
}
.footer__endline-item-img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: #000;
  display: block;
}
.footer__insta_img {
  background-color: #F16D7F;
  fill: #fff;
}
.footer__insta_img:hover {
  background: #fff;
  fill: #F16D7F;
}

.product_carousel {
  background: #F7F7F7;
  max-width: 1600px;
  min-height: 777px;
  margin: 0 auto;
  border: 1px solid #EAEAEA;
}
.product_carousel__carousel-item {
  left: 30%;
}
.product_carousel__arrow-next {
  font-size: 30px;
  color: #222222;
}
.product_carousel__arrow-next::before {
  background-color: #ccc;
  padding: 10px 15px;
}
.product_carousel__arrow-next:hover {
  color: #F16D7F;
}
.product_carousel__arrow-next:focus {
  color: #F1E4E6;
}
.product_carousel__arrow-next:active {
  color: #9F9F9F;
}
.product_carousel__arrow-prev {
  font-size: 30px;
  color: #222222;
  width: 0px;
}
.product_carousel__arrow-prev::before {
  background-color: #ccc;
  padding: 10px 15px;
}
.product_carousel__arrow-prev:hover {
  color: #F16D7F;
}
.product_carousel__arrow-prev:focus {
  color: #F1E4E6;
}
.product_carousel__arrow-prev:active {
  color: #9F9F9F;
}
.product_carousel__prev {
  justify-content: start;
}
.product_carousel__next {
  justify-content: end;
}

.product_path {
  background-color: #F8F3F4;
}
.product_path__wrp {
  display: flex;
  justify-content: space-between;
  height: 148px;
  align-items: center;
}
.product_path__wrp-title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  display: block;
}
.product_path__list {
  display: flex;
  justify-content: end;
  list-style: none;
}
.product_path__item a {
  text-decoration: none;
  color: #636363;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}
.product_path__item-active a {
  color: #F16D7F;
}

.product_discription {
  height: 601px;
  position: relative;
}
.product_discription__wrp {
  width: 1141px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #EAEAEA;
  position: absolute;
  top: -65px;
}
.product_discription__title {
  color: #F16D7F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin: 65px 0 12px 0;
}
.product_discription__rectangle {
  background-color: #F16D7F;
  width: 63px;
  height: 3px;
}
.product_discription__name {
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  color: #222222;
  text-transform: uppercase;
  margin: 12px 0 48px 0;
}
.product_discription__text {
  width: 555px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #5E5E5E;
}
.product_discription__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  color: #F16D7F;
  margin: 32px 0 65px 0;
}
.product_discription__hr {
  width: 641px;
  border: 1px solid #EAEAEA;
  margin-bottom: 65px;
}
.product_discription__dropdown {
  display: flex;
  justify-content: center;
}
.product_discription__dropdown-btn {
  background-color: transparent;
  color: #6F6E6E;
  border: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}
.product_discription__dropdown-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.product_discription__dropdown-btn:focus {
  background-color: #fff;
  outline: #6F6E6E;
  color: #6F6E6E;
  border: none;
  box-shadow: none;
}
.product_discription__dropdown-btn:active {
  background-color: #b8b6b6;
  color: #fff;
  border: none;
  outline: none;
}
.product_discription__dropdown-btn::after {
  background-image: url(../../img/dropdown.svg);
}
.product_discription__button {
  position: relative;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #F16D7F;
  padding: 14px 56px 13px 72px;
  margin: 49px 0 65px 0;
  border: 1px solid #F16D7F;
  background-color: transparent;
}
.product_discription__button::before {
  background-image: url(../../img/basket_btn_pink.svg);
  content: "";
  width: 26px;
  height: 24px;
  color: #F16D7F;
  position: absolute;
  left: 23px;
  top: 14px;
}
.product_discription__button:hover {
  background-color: #f8dcdc;
}
.product_discription__button:focus {
  border: 1px solid #9F9F9F;
}
.product_discription__button:active {
  background-color: #F16D7F;
  color: #fff;
}
.product_discription__featured {
  margin-top: 128px;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/lato-light.woff2") format("woff2"), url("../fonts/lato-light.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/lato-italic.woff2") format("woff2"), url("../fonts/lato-italic.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-black.woff2") format("woff2"), url("../fonts/lato-black.woff") format("woff");
}

/*# sourceMappingURL=style.css.map */
