.header {
    background-color: $black;

    .header__wrp-controls {
        display: flex;
    }
    
    .form {
        position: relative;
    }
    
    .header__form-search {
        padding: 10px 20px;
        border: none;
        outline: 1px solid #fff;
        background-color: $black;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
    
    .header__form-search:hover {
        outline: 1px solid $pink;
    }
    
    .header__form-search:active {
        outline: 1px solid $light-pink;
    }
    
    .form:before {
        content: '';
        position: absolute;
        width: 30px;
        height: 30px;
        background: $black;
        top: 3px;
        left: -45px;
        background-image: url(../img/loupe.svg);
        background-size: 30px 30px;
    }
    
    .header__wrp {
        display: flex;
        justify-content: space-between;
        min-height: 75px;
        align-items: center;
        position: relative;
    }
    
    .header__logo {
        margin: 0 80px 0 0;
    }
    
    .header__link {
        margin: 0 0 0 31px;
    }
    
    .header__menu-btn {
        border: none;
        background-color: transparent;
    }
    
    .header__btn-burger, 
    .header__link-person, 
    .header__link-basket {
        fill: #E8E8E8;
    }
    
    .header__btn-burger:hover, 
    .header__link-person:hover, 
    .header__link-basket:hover {
        fill: $light-pink;
    }
    
    .header__btn-burger:active, 
    .header__link-person:active, 
    .header__link-basket:active {
        fill: $pink;
    }
    
    .header__btn-burger:focus, 
    .header__link-person:focus, 
    .header__link-basket:focus {
        fill: var(--grey);
        border: 1px solid $grey;
    }
    
    .header__nav {
        position: absolute;
        background-color: #fff;
        right: 0;
        bottom: -765px;
        display: none;
        z-index: 2;
        width: 170px;
        height: 765px;
        padding-left: 50px;
    }
    
    .header__nav--show {
        display: block;
    }
    
    .header__nav-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        text-transform: uppercase;
        padding: 37px 0 4px 0;
    }
}



.menu-item__title {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $pink;
    text-transform: uppercase;
    padding: 20px 0 12px 0;
}

.menu-item__sub-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    padding: 11px 0 0 20px;
}

.menu-item__sub-item a {
    text-decoration: none;
    color: #6F6E6E;
}

.menu-item__sub-item a:hover {
    color: $grey;
}

.menu-item__sub-item a:active {
    color: $pink;
}

/* .wrp--show {
    background: rgba(0, 0, 0, 0.6);
} */