.header {
    background-color: $black;

    &__wrp-controls {
        display: flex;
    }

    &__form {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            width: 30px;
            height: 30px;
            background: $black;
            top: 3px;
            left: -45px;
            background-image: url(../img/loupe.svg);
            background-size: 30px 30px;
        }
    }

    &__form-search {
        padding: 10px 20px;
        border: none;
        outline: 1px solid #fff;
        background-color: $black;
        @include font(14px, 17px);
        color: #fff;

        &:hover {
            outline: 1px solid $pink;
        }
    }

    &__form-search:active {
        outline: 1px solid $light-pink;
    }

    &__form-search:focus {
        outline: 2px solid #fff;
    }

    &__wrp {
        display: flex;
        justify-content: space-between;
        min-height: 75px;
        align-items: center;
        position: relative;
    }

    &__logo {
        margin: 0 80px 0 0;

        @include mobile {
            margin: 0 61px 0 0;
        }
    }

    &__link {
        margin: 0 0 0 31px;

        @include mobile {
            display: none;
        }
    }

    &__menu-btn {
        border: none;
        background-color: transparent;
    }

    &__btn-burger,
    &__link-person,
    &__link-basket {
        fill: #E8E8E8;

        &:hover {
            fill: $light-pink;
        }

        &:active {
            fill: $pink;
        }

        &:focus {
            fill: $grey;
            border: none;
            outline: none;
        }
    }

    &__nav {
        position: absolute;
        background-color: #fff;
        right: 0;
        bottom: -765px;
        display: none;
        z-index: 2;
        width: 170px;
        height: 765px;
        padding-left: 50px;
    }

    &__nav--show {
        display: block;
    }

    &__nav-title {
        @include font(14px, 17px, 700);
        color: #000000;
        text-transform: uppercase;
        padding: 37px 0 4px 0;
    }
}