.product_path {
    background-color: #F8F3F4;

    &__wrp {
        display: flex;
        justify-content: space-between;
        height: 148px;
        align-items: center;

    }

    &__wrp-title {
        @include font(24px, 29px, 400);
        color: #F16D7F;
        display: block;
    }

    &__list {
        display: flex;
        justify-content: end;
        list-style: none;
    }

    &__item a {
        text-decoration: none;
        color: #636363;
        @include font(14px, 17px, 300);

    }

    &__item-active a {
        color: #F16D7F;
    }

}